.view {
  font-family: "Noto Sans Mono", monospace;
  width: 100%;
  height: 100%;
  ::-webkit-scrollbar-track {
    border: 0px solid black;
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
    @media (max-width: 480px) {
      width: 5px;
      height: 5px;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0b2942;
  }
  &__tabControls {
    display: flex;
    height: 30px;
    background: #041323;
    border-bottom: 1px solid #122d42cb;
  }
  &__tabControl {
    background: transparent;
    height: 100%;
    min-width: 140px;
    max-width: 200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    color: #549efc;
    @media (max-width: 480px){
        width: calc(50% - 20px);
    }
    &__active {
      // background: #020d18;
      background: #0b2942;
      color: #549efc;
      border-top: 1px solid #219fd5;
      border-bottom: 1px solid #219fd5;
    }
    span {
      margin-left: 0.5rem;
      margin-top: 0.4rem;
    }
  }
}
